@import "bootstrap-sprockets";
@import "bootstrap";

.intro-blurbs {
  background-color: #eee;
  height: 80px;
  border: solid 1px #ccc;
}
.intro-para {
  float: left;
  width: 300px;
  padding: 7px;
}

.logo-home {
  width: 200px;
  height: 50px;
  background-image: url("http://cdn.sstatic.net/stackoverflow/img/sprites.svg?v=a7723f5f7e59"), none;
}

.list-inline {
  a {
    color: white;
  }
  margin-top: 12px;
  margin-bottom: 0px;
}
